@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="regiter-container">
    <div class="register-login-title">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
    </div>
    
    <div class="register-login-toolbar" align="center">
        <div class="register-login-inner">
            <div class="toolbar-inside">
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
    
</div>
	
