@model List<Car_Galery.Models.BrandModel>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Type Operations</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a id="BrandList" onclick="List(this)" class="nav-link active">Type Brand</a>
                        </li>
                        <li class="nav-item">
                            <a id="AddBrand" onclick="Add(this)" class="nav-link">Add Brand</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body" id="card-type-body-Brand">
                    @{
                        Html.RenderPartial("_BrandListPartialView", Model);
                    }
                </div>
            </div>
        </div>
    </div>
</div>
