@model Car_Galery.Models.ViewModels.InventoryViewModel



@{
    ViewBag.Title = "Inventory";
}


<div>
    <div class="inventory-list">
        <h1 align="center"><b>Inventory Listing</b></h1>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-12">

            <div class="vehicle-filter">
                <div class="filter-title">
                    <h5><i class="fa fa-search"></i> SEARCH FİLTER</h5>
                </div>

                <div class="filter-form">
                    @{
                        Html.RenderPartial("_FilterPartial", Model);
                    }
                </div>
            </div>


            <div class="brand-categories">
                <div class="brand-title">
                    <h5><i class="fa fa-align-justify"></i> BRAND CATEGORİES</h5>

                </div>
                <div class="box-brand">
                    @{
                        Html.RenderPartial("_BrandCategoriesPartial", Model.BrandModelModels);
                    }
                </div>
            </div>


        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-12" id="VehicleList">

            @{
                Html.RenderPartial("_VehicleListPartial", Model);
            }

        </div>

    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div>
        @{
            Html.RenderPartial("_OperationPartial");
        }
    </div>
}







