body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f5f5f5 !important;
}
div {
    display: block;
}

a {
    cursor: pointer;
}

.navbar-nav > li {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-link {
    font-size: 20px;
}
.fa-color {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
    font-size: 40px;
}

.popular_brand {
    margin-top: 75px;
    background-color: white;
}

.brand-img {
    padding-left: 5px;
    padding-right: 5px;
}

.brand-img-center {
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brand_title {
    padding-left: 15px;
    padding-top: 15px;
    border-bottom: 1px #f2f2f2 solid;
}

.brand-content {
    border: 1px #f2f2f2 solid;
}

.contain-color {
    background-color: white;
}

.body-container {
    padding-top: 30px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.carousel-inner img {
    width: 100%;
}

.carousel-caption button {
    height: 50px;
    width: 200px;
}

/* Set width on the form input elements since they're 100% wide by default */



/*inventory deneme*/
.accordion {
    padding-inline-start: 0px;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #CCC;
    position: relative;
}


.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #b63b4d;
}

.accordion li.open i {
    color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/


.submenu {
    display: none;
    font-size: 20px;
    padding-inline-start: 0px;
}



.submenu a {
    display: block;
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

.submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}

.inventory-list {
    padding-bottom: 25px;
}

.inventory-list h1 {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZ7g6TWKpoL5CNkzjFYMHFzdXao-HhrpuIpnZTfCBVQF2VKKto");
    background-repeat: no-repeat;
    background-size: 100% 300px;
    color: black;
}

.brand-title {
    padding: 10px;
    background-color: orange;
    margin-right: 0px;
    margin-left: 0px;
}

.filter-title {
    padding: 10px;
    background-color: rgb(236, 26, 65);
}

.filter-title h5 {
    color: white;
}

.brand-categories {
    background-color: white;
    margin-top: 20px;
}

.vehicle-filter {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #eee #d5d5d5 #eee;
}

.filter-items {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #eee #d5d5d5 #eee;
}

.form-dropdown {
    border-radius: 0;
}


ul {
    list-style-type: none;
}

.link a {
    color: #b63b4d;
    text-decoration: none;
    padding-left: 10px;
}

.CarBox {
    padding-left: 20px;
    padding-right: 20px;
}

.CarBox img {
    width: 100%;
    border-radius: 5px;
    border: 3px black solid;
}

.carboxrow {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.car-content {
    border-right: 1px #eaeaea solid;
    margin-bottom: 50px;
}

.popular-brand-area {
    padding-top: 10px;
    padding-bottom: 10px;
}

.car-title {
    margin-bottom: 10px;
    padding-top: 25px;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.3em;
    text-align: center;
}

.price {
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.car-price {
    text-align: center;
}

.car-info {
    border-top: 1px #eaeaea solid;
    padding-top: 15px;
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
}


.col-attr {
    float: left;
    width: 50%;
}

.col-attr i {
    display: block;
    margin-bottom: 5px;
}

.filter-slider {
    margin-top: 7px;
    font-size: 14px;
}

.min-max {
    display: block;
    overflow: hidden;
}

.form-textbox {
    padding-bottom: 10px;
    padding-right: 13px;
    padding-left: 13px;
}

.filter-item-textboxs {
    padding-left: 14px;
    padding-right: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #eee #d5d5d5 #eee;
}

.text-box-label {
    margin-bottom: 0.2rem;
}

.text-box {
    height: 37px;
}

.btn {
    width: 100%;
}

.toolbar {
    margin-top: 0px;
    padding: 0px 25px;
    width: 100%;
    border-bottom: 1px #eaeaea solid;
    background: white;
    margin-right: 0px;
    margin-left: 0px;
}

.car-listbar {
    padding-top: 10px;
}

.sort-filter {
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal-details {
    border-bottom: 1px black solid;
}

.modal-details-var {
    padding-top: 20px;
}

    .modal-details-var p {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        line-height: 1.2;
    }

.register-login-title {
    padding: 10px;
    background-color: orange;
    margin-right: 0px;
    margin-left: 0px;
}

.regiter-container {
    padding: 30px;
}

.register-login-toolbar {
    margin-top: 0px;
    padding: 0px 25px;
    width: 100%;
    border-bottom: 1px #eaeaea solid;
    border-left: 1px #eaeaea solid;
    border-right: 1px #eaeaea solid;
    background: white;
    margin-right: 0px;
    margin-left: 0px;
}

.register-login-inner {
    width: 60%;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.brand-edit {
    text-align: left;
}

.right-operation {
    right: 0;
    position: fixed;
    top: 30%;
    width: 15%;
}

.operation-button {
    background: orange;

    border-radius: 0;
    /*border: 1px black solid;*/
    text-align: left;
}
.operation-button:hover {
    /*background: black;
    color: white !important;*/
    transition: 0.3s;
    box-shadow: 0px 0px 3px 3px #000000;
    margin-bottom: 3px;
}

.cls {
    text-align: left;
}

.cls-edit {
    text-align: right;
    color: green;
}

.cls-delete {
    color: red;
}

.row-header {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px #eaeaea solid;
}

.row-element {
    padding-top: 5px;
    border-bottom: 1px #eaeaea solid;
}

.btn-edit {
    padding-top: 5px;
}


.btn-edit img {
        width: 100%;
        border-radius: 5px;
        border: 3px black solid;
}

.form-brand {
    padding-bottom: 10px;
}



