@using Car_Galery.Models

<div class="right-operation">
    <div class="filter-title">
        <h5><i class="fa fa-edit"></i> OPERATİONS</h5>
    </div>
    <ul id="accordion" class="accordion">
        <li>
            <div>
                @Ajax.ActionLink("Type", "GetTypeModal", "AdminOperation", null, new AjaxOptions()
                {
                    UpdateTargetId = "TypeModal",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"

                }, new { @class = "btn operation-button", data_toggle = "modal", data_target = "#TypeModal" })
            </div>
        </li>
        <li>
            <div>
                @Ajax.ActionLink("Brand", "GetBrandModal", "AdminOperation", null, new AjaxOptions()
                {
                    UpdateTargetId = "BrandModal",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"

                }, new { @class = "btn operation-button", data_toggle = "modal", data_target = "#BrandModal" })
            </div>
        </li>
        <li>
            <div>
                <a class="btn operation-button">Model</a>
            </div>
        </li>
    </ul>

        
</div>

<div class="modal fade" id="TypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @{
        Html.RenderPartial("_TypePartialView",new List<TypeModel>());
    }

</div>

<div class="modal fade " id="BrandModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @{
        Html.RenderPartial("_BrandPartialView",new List<BrandModel>());
    }

</div>

<div class="modal fade " id="ModelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    @{
        Html.RenderPartial("_TypePartialView",new List<TypeModel>());
    }

</div>
