@model Car_Galery.Models.TypeModel

<div class="register-login-title">
    <h3 align="left">Edit Type</h3>
</div>

<div class="register-login-toolbar" align="center">
    <div class="regiter-container">
        <div class="register-login-inner">
            @using (Ajax.BeginForm("EditTypeConfirm", "AdminOperation", new { Id = Model.Id }, new AjaxOptions()
            {
                UpdateTargetId = "card-type-body-Types",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "Post",
                Confirm = "Are you sure",
                OnSuccess = "OnSuccess('Type Update')",
                OnFailure = "OnFail('Type Update')"
                
            }))
            {

                @Html.AntiForgeryToken()
                @Html.Label("tbName", "Name:")
                @Html.TextBox("Name", Model.Name, new { @class = "form-control", id = "tbName" })

                <div class="btn-edit">
                    <input type="submit" value="Update" class="btn btn-success" />
                </div>

            }

        </div>
    </div>
</div>
